@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @media screen and (prefers-color-scheme: dark) {
    body {
      @apply bg-white dark:bg-gray-800;
    }

    #zImage {
      @apply fixed top-0 bottom-0 left-0 right-0 -z-10;
    }
    #zImage2 {
      @apply fixed top-0 bottom-0 left-0 right-0 -z-10;
    }

    #navbar-menu {
      z-index: 999999999999999;
    }
  }

  .nav-route-link {
    @apply my-2 font-semibold text-gray-700 transition-all duration-300 transform dark:text-gray-200 hover:text-indigo-500 dark:hover:text-indigo-400 md:mx-4 md:my-0;
  }
  .nav-route-link.active {
    @apply text-indigo-400 scale-105;
  }
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.backdrop-blur-css {
  backdrop-filter: blur(10px);
}
